<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>吉隆坡亚太彩</title>
    <meta name="keywords" content="吉隆坡亚太彩, 吉隆坡"/>
    <meta name="format-detection" content="telephone=no"/>
    <link rel="stylesheet" href="css/headerfood.css"/>
    <link rel="stylesheet" href="css/animate_index.css"/>
    <link rel="stylesheet" type="text/css" href="./css/yuctk.css"/>
    <link rel="icon" href="./img/icon/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11"/>
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" src="./js/lib/jquery-1.11.3.js"></script>
    <script type="text/javascript" src="./js/lib/jquery.jqprint-0.3.js"></script>
    <meta name="keywords" content="吉隆坡亚太彩, 吉隆坡">
    <meta name="description" content="">
    <link rel="stylesheet" href="./static/index.css">
    <link rel="stylesheet" href="./static/headerfood.css">
    <link rel="stylesheet" href="./static/calendar.css">
    <link rel="icon" href="favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11">
    <meta name="format-detection" content="telephone=no">
    <script type="text/javascript" src="./static/jquery-1.11.3.js"></script>
    <link rel="stylesheet" href="./static/fastsmSix_headorfood.css">
    <link rel="stylesheet" href="./static/newindexAdd.css">
    <title></title>
</head>
<body>
<div class="bodybox">
    <!--头部-->
    <div id="headdivbox">
        <div class="headerbox">
            <div class="header">
                <a style="float:left" href="/"><img src="img/logo_2.png" alt=""/></a>
                <ul>
                    <li>
                        <a class="xy" href="/">首页</a>
                    </li>
                    <li id="HKcai">
                        <a class="kj"  target="_blank"
                           style="color: rgb(255, 255, 255); background: rgb(237, 40, 66);">乐合彩</a>
                        <ul id="hkheader">
                            <li>
                                <a class="vi" href="/kaijvideo">开奖视频</a>
                            </li>
                            <li>
                                <a class="kj" href="/kaihistory"
                                   style="color: rgb(255, 255, 255); background: rgb(237, 40, 66);">开奖记录</a>
                            </li>
                            <li>
                                <a class="yc" href="/yuctk">预测图库</a>
                            </li>
                            <li>
                                <a class="yc" href="/count_asis.php">号码过滤器</a>
                            </li>
                        </ul>
                    </li>
                    <li >
                        <a class="js" href="/jieshao">彩票介绍</a>
                    </li>
                    <li>
                        <a class="ds" href="/ds">公司董事</a>
                    </li>
                    <li>
                        <a class="jj" href="/jj">奖金分配</a>
                    </li>
                    <li>
                        <a class="rq" href="/rq.php">投注日期</a>
                    </li>
                    <li>
                        <a class="td" href="/tiangandizhi">天干地支</a>
                    </li>

                    </li>


                </ul>
            </div>

            <div class="notice-row">
                <div class="w clearfix pr">
                    <div class="title fl">
                        <span>站内公告</span>

                        <marquee behavior="" direction="" onmouseenter="this.stop()" onmouseleave="this.start()">
                            <font class="notifytxt" color="#FF0000"></font></marquee>
                    </div>

                </div>
            </div>


            <div class="brann_img">

                <ul>

                </ul>
            </div>
        </div>
    </div><!--头部-->
    <!--主体内容-->
    <iframe src="1111.php" width="100%" height="650px" frameborder="0" style="margin-top:5px;"></iframe>
    <div class="footer">
        <div id="fixedgoBack">

            <div id="modal" style="display: none;">
                <div id="win">
                    <div id="bar">
                        <span style="float:left">在线反馈</span>
                        <span class="bar_remove" style="float:right"></span>
                    </div>
                    <div class=hh">
                        欢迎对六合彩汇提出宝贵的建议或意见
                    </div>
                    <div class="content">
                        <label>称呼</label><input type="text" id="first_input"/>
                        <select name="" id="select_op">
                            <option value="1" class="option_index">电话</option>
                            <option value="2" class="option_index">邮箱</option>
                            <option value="3" class="option_index">QQ</option>
                            <option value="4" class="option_index">微信</option>
                        </select><input type="text" id="fanku_text"/>
                    </div>
                    <div class="div_down">
                        <textarea name="" rows="" cols="" id="advice" placeholder="请写下您宝贵的意见..."></textarea>
                    </div>
                    <div class="button_box">
                        <button id="btn_upload">提交</b"utton>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer2">
            <p class="ptop">免责声明：本站内容仅作参考及交流，不进行任何现金交易行为。</p>
            <p style="display: inline">本网不承担由于内容的合法性所引起的一切争议和法律责任。</p>

        </div>
    </div>
    <script type="text/javascript" src="https://js.users.51.la/19291692.js"></script>
</div>
</div>

<!--<div class="btn">11211</div>-->
<!--<div id="target" class="target"></div>-->
</body>

<script type="text/javascript" src="js/lib/jquery-1.11.3.js"></script>
<script type="text/javascript" src="js/kj.js"></script>

<script type="text/javascript" src="js/getnotify.js"></script>
</html>