<!DOCTYPE html>
<html lang="en">
<head>

            <meta http-equiv="Content-Type" content="text/html;">

            <title>吉隆坡亚太彩</title>
            <meta name="keywords" content="吉隆坡亚太彩, 吉隆坡">
            <link rel="icon" href="favicon.ico">
            <meta name="format-detection" content="telephone=no">
            <link rel="stylesheet" type="text/css" href="./static/kaihistory.css">
            <link rel="stylesheet" href="./static/index.css">
            <script type="text/javascript" src="./js/jquery-1.11.3.js"></script>
        </head>

<body>
<div class="bodybox">
    <div id="headdivbox">
        <img style="width:100%;border-radius: 5px" src="/img/bp4.png"> <div class="headerbox">
            <div class="header">


                <a style="float:left" href="http://tempvsd.andsmind.com/"><img src="./img/logo2.png" alt=""></a>
                <ul style="background: #ed2842">
                    <li>
                        <a class="xy" href="http://tempvsd.andsmind.com/"
                        >首页</a>
                    </li>

                    <li> 
                        <a style="color: #ed2842; background: #fff; border-bottom: 3px solid #ed2842"  class="kj" href="http://tempvsd.andsmind.com/kaihistory">开奖记录</a>
                    </li>
                    <li>
                        <a class="yc" href="http://tempvsd.andsmind.com/yuctk">预测图库</a>
                    </li>
                    <li>
                        <a class="yc" href="http://tempvsd.andsmind.com/count_asis.php">号码过滤器</a>
                    </li>
                    <li>
                        <a class="js" href="http://tempvsd.andsmind.com/jieshao">彩票介绍</a>
                    </li>
                    <li>
                        <a class="ds"
                           href="http://tempvsd.andsmind.com/ds">公司董事</a>
                    </li>
                    <li>
                        <a  class="jj" href="http://tempvsd.andsmind.com/jj">奖金分配</a>
                    </li>
                    <li>
                        <a  class="rq" href="http://tempvsd.andsmind.com/rq.php">投注日期</a>
                    </li>
                    <li>
                        <a class="td" href="http://tempvsd.andsmind.com/tiangandizhi">天干地支</a>
                    </li>
                </ul>
            </div>
            <div class="notice-row">
                <div class="w clearfix pr">
                    <div class="title fl">
                        <marquee behavior="" direction="" onmouseenter="this.stop()" onmouseleave="this.start()">
                            <span>站内公告 :</span>
                            <font class="notifytxt" style="font-size: 30px" color="#FF0000"></font>
                        </marquee>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="BigBox">
        <div class="box">
            <div class="box_l">
                <span class="year">年份</span>
                <ul class="years_list">
                    <li class="active">2020</li>

                </ul>
            </div>
            <div class="box_r">
                <div class="listhead"><span>2020年开奖记录</span></div>
                <div class="listbox">
                    <div class="hmfb">
                        <h1>号码分布</h1>


                        <ul class="xztj">
                            <li class="title">选择条件 ：</li>
                            <div class="zoo">
                                <!--生肖-->
                                <ul>
                                    <li class="first_li"><i></i>
                                        <a>鼠</a>
                                    </li>
                                    <li><i></i>
                                        <a>牛</a>
                                    </li>
                                    <li><i></i>
                                        <a>虎</a>
                                    </li>
                                    <li><i></i>
                                        <a>兔</a>
                                    </li>
                                    <li><i></i>
                                        <a>龙</a>
                                    </li>
                                    <li><i></i>
                                        <a>蛇</a>
                                    </li>
                                    <li><i></i>
                                        <a>马</a>
                                    </li>
                                    <li><i></i>
                                        <a>羊</a>
                                    </li>
                                    <li><i></i>
                                        <a>猴</a>
                                    </li>
                                    <li><i></i>
                                        <a>鸡</a>
                                    </li>
                                    <li><i></i>
                                        <a>狗</a>
                                    </li>
                                    <li><i></i>
                                        <a>猪</a>
                                    </li>
                                    <li><input type="button" name=""  value="还原" class="return"></li>
                                </ul>
                            </div>
                            <div class="fiveElement">
                                <!--五行-->
                                <ul>
                                    <li class="first_li"><i></i>
                                        <a>金</a>
                                    </li>
                                    <li><i></i>
                                        <a>木</a>
                                    </li>
                                    <li><i></i>
                                        <a>水</a>
                                    </li>
                                    <li><i></i>
                                        <a>火</a>
                                    </li>
                                    <li><i></i>
                                        <a>土</a>
                                    </li>

                                    <li><input type="button" name=""  value="还原" class="return"></li>
                                </ul>
                            </div>
                            <div class="homeOrbeast">
                                <!--家禽野兽-->
                                <ul>
                                    <li class="first_li"><i></i>
                                        <a>家禽</a>
                                    </li>
                                    <li><i></i>
                                        <a>野兽</a>
                                    </li>
                                    <li><input type="button" name=""  value="还原" class="return"></li>
                                </ul>
                            </div>
                            <div class="boyOrgirl">
                                <!--男女生肖 -->
                                <ul>
                                    <li class="first_li"><i></i>
                                        <a>男肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>女肖</a>
                                    </li>
                                    <li><input type="button" name=""  value="还原" class="return"></li>
                                </ul>
                            </div>
                            <div class="topOrbottom">
                                <!--天地生肖 -->
                                <ul>
                                    <li class="first_li"><i></i>
                                        <a>天肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>地肖</a>
                                    </li>
                                    <li><input type="button" name=""  value="还原" class="return"></li>
                                </ul>
                            </div>
                            <div class="fourSeasons">
                                <!--四季生肖 -->
                                <ul>
                                    <li class="first_li"><i></i>
                                        <a>春肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>夏肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>秋肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>冬肖</a>
                                    </li>
                                    <li><input type="button" name=""  value="还原" class="return"></li>
                                </ul>
                            </div>
                            <div class="qinqsh">
                                <!--琴棋书画 -->
                                <ul>
                                    <li class="first_li"><i></i>
                                        <a>琴肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>棋肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>书肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>画肖</a>
                                    </li>
                                    <li><input type="button" name=""  value="还原" class="return"></li>
                                </ul>
                            </div>
                            <div class="threeColor">
                                <!--三色生肖 -->
                                <ul>
                                    <li class="first_li"><i></i>
                                        <a>红肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>蓝肖</a>
                                    </li>
                                    <li><i></i>
                                        <a>绿肖</a>
                                    </li>
                                    <li><input type="button" name=""  value="还原" class="return"></li>
                                </ul>
                            </div>
                        </ul>
                    </div>
                    <div class="hmfbTable" id="hmfbTable">

                        <div class="hisNUm_box box-title">
                            <ul>
                                <li class="Time_box">日期/期数</li>
                                <li class="hisNum_detail">正码</li>
                                <li class="temaNum">特码</li>
                                <li class="zonghe">
                                    <ul class="in_ul">
                                        <li style="width:100%">总和</li>
                                        <li>总数</li>
                                        <li>单双</li>
                                        <li>大小</li>
                                        <li></li>
                                    </ul>
                                </li>
                                <li class="tema_box">
                                    <ul class="in_ul">
                                        <li>特码</li>
                                        <li>单双</li>
                                        <li>大小</li>
                                        <li>合单双</li>
                                        <li>合大小</li>
                                        <li>尾大小</li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <div class="hisNUm_box number_box">
                            <ul>
                                <li class="Time_box"><span>2020-10-13</span><span>287期</span></li>
                                <li class="hisNum_detail">
                                    <ul>
                                        <li class="One " data-text="鼠" style="opacity: 1;"><img
                                                src="img/01.gif"> <span>鼠</span></li>
                                        <li class="Two " data-text="蛇" style="opacity: 1;"><img
                                                src="img/08.gif"> <span>蛇</span></li>
                                        <li class="Three " data-text="狗" style="opacity: 1;"><img
                                                src="img/15.gif"> <span>狗</span></li>
                                        <li class="Four " data-text="虎" style="opacity: 1;"><img
                                                src="img/47.gif"> <span>虎</span></li>
                                        <li class="Five " data-text="蛇" style="opacity: 1;"><img
                                                src="img/44.gif"> <span>蛇</span></li>
                                        <li class="Six " data-text="羊" style="opacity: 1;"><img
                                                src="img/06.gif"> <span>羊</span></li>
                                    </ul>
                                </li>
                                <li class="temaNum Seven " data-text="猴" style="opacity: 1;"><img
                                        src="img/17.gif"> <span>猴</span></li>
                                <li class="Daxia_dansh dansh_ ">138</li>
                                <li class="Daxia_dansh" style="color: rgb(248, 34, 60);">双</li>
                                <li class="Daxia_dansh">小</li>
                                <li class="Daxia_dansh"></li>
                                <li class="Daxia_dansh">单</li>
                                <li class="Daxia_dansh">小</li>
                                <li class="Daxia_dansh" style="color: rgb(248, 34, 60);">合双</li>
                                <li class="Daxia_dansh" style="color: rgb(248, 34, 60);">合大</li>
                                <li class="Daxia_dansh" style="color: rgb(248, 34, 60);">尾大</li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</div>

<!--尾部-->
<div class="footer">
    <div class="footer2">
        <p class="ptop">免责声明：本站内容仅作参考及交流，不进行任何现金交易行为。</p>
        <p style="display: inline">本网不承担由于内容的合法性所引起的一切争议和法律责任。</p>

    </div>
</div>

</div>

<script type="text/javascript" src="./js/kaihistory.js"></script>

<script type="text/javascript" src="js/getnotify.js"></script>
<li></li>
</body>
</html>