<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统PHP 表格页面 - </title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/admin.css">
    <script type="text/javascript" charset="utf-8" src="ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="editor_api.js"></script>
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong></strong> <small>管理后台</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar">
        <ul class="am-list admin-sidebar-list">

            <li><a href="/admin"><span class="am-icon-table"></span> 开奖管理</a></li>
            <li><a href="/tukuadmin"><span class="am-icon-pencil-square-o"></span> 预测图库</a></li>
            <li><a href="/jieshaoadmin"><span class="am-icon-pencil-square-o"></span> 彩票介绍</a></li>
            <li><a href="/dongshiadmin"><span class="am-icon-pencil-square-o"></span> 公司董事</a></li>
            <li><a href="/jiangjinadmin"><span class="am-icon-pencil-square-o"></span> 奖金分配</a></li>
            <li><a href="/riqiadmin"><span class="am-icon-pencil-square-o"></span> 投注日期</a></li>
            <li style="background: #3bb4f2"><a href="/tiangandizhiadmin"><span class="am-icon-pencil-square-o"></span>
                天支地干</a></li>

        </ul>


    </div>
    <!-- sidebar end -->


    <!-- content start -->
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">天干地支介绍</strong> / <small>当前</small>
            </div>
        </div>
        <div class="am-g" style="margin-left: 20px;background-color: gainsboro;padding: 10px">
            <?php echo $info["info"] ; ?>
        </div>
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">设置天干地支介绍</strong>
            </div>
        </div>
        <div class="am-g">
            <div class="am-u-sm-12">


                <script type="text/plain" id="myEditor1" style="margin-bottom:10px;"></script>
                <button id="setjieshao"
                        onclick="setjieshao()"
                        type="button"
                        style="margin-bottom:100px;margin-right: 30px"
                        class="am-btn am-btn-primary am-btn-xs">保存
                </button>

                <script type="text/javascript">
                    UE.getEditor('myEditor1', {
                        theme: "default", //皮肤
                        lang: 'zh-cn' //语言
                    });
                    function setjieshao () {
                        console.log("Try setjieshao")
                        var data = UE.getEditor('myEditor1').getContent();
                        console.log("content :" + data);
                        $.ajax({
                            // cache: true,
                            type: "post",
                            url: "/tiangandizhiadmin/settiangandizhi",
                            data: {
                                "info": data
                            },

                            async: false,
                            error: function (request) {
                                console.log(request)
                                alert("Connection error");
                            },
                            success: function (info) {
                                console.log(info)
                                alert("success");
                            }
                        });
                    }
                </script>
            </div>
        </div>
    </div>
    <!-- content end -->
</div>

<footer>
    <hr>
    <p class="am-padding-left">© 2020 Nomansky public</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="assets/js/app.js"></script>
</body>
</html>
