<!doctype html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统PHP 表格页面 - </title>
    <meta name="description" content="这是一个 table 页面">
    <meta name="keywords" content="table">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
    以获得更好的体验！</p>
<![endif]-->

<header class="am-topbar admin-header">
    <div class="am-topbar-brand">
        <strong></strong> <small>管理后台</small>
    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>
</header>

<div class="am-cf admin-main">
    <!-- sidebar start -->
    <div class="admin-sidebar">
        <ul class="am-list admin-sidebar-list">

            <li><a href="/admin"><span class="am-icon-table"></span> 开奖管理</a></li>
            <li><a href="/tukuadmin"><span class="am-icon-pencil-square-o"></span> 预测图库</a></li>
            <li><a href="/jieshaoadmin"><span class="am-icon-pencil-square-o"></span> 彩票介绍</a></li>
            <li><a href="/dongshiadmin"><span class="am-icon-pencil-square-o"></span> 公司董事</a></li>
            <li><a href="/jiangjinadmin"><span class="am-icon-pencil-square-o"></span> 奖金分配</a></li>
            <li><a href="/riqiadmin"><span class="am-icon-pencil-square-o"></span> 投注日期</a></li>
            <li><a href="/tiangandizhiadmin"><span class="am-icon-pencil-square-o"></span> 天支地干</a></li>

        </ul>


    </div>
    <!-- sidebar end -->

    <!-- content start -->
    <div class="admin-content">

        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">开奖管理</strong> / <small>Table</small>
            </div>
        </div>

        <div class="am-g">
            <div class="am-u-md-6 am-cf">
                <div class="am-fl am-cf">
                    <div class="am-btn-toolbar am-fl">
                        <div class="am-btn-group am-btn-group-xs">
                            <button onclick="showorhideaddform()" type="button" class="am-btn am-btn-default"><span
                                    class="am-icon-plus"></span> 新增
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <div class="am-u-md-3 am-cf">
                <div class="am-fr">
                    <div class="am-input-group am-input-group-sm">
                        <input id="searchval" value="请输入期数" type="text" class="am-form-field">
                        <span class="am-input-group-btn">
                  <button class="am-btn am-btn-default" onclick="search()" type="button">搜索</button>
                </span>
                    </div>
                </div>
            </div>

        </div>
        <script type="text/javascript">
            function search () {
                window.location.href = "/kaihistoryadmin?search=" + document.getElementById("searchval").value;
            }
        </script>
        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-form" id="addform" style="padding: 10px ;display: none">
                    <table style="border: 1px solid gray" class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-id">期数</th>
                            <th class="table-title">开奖日期</th>
                            <th class="table-title">正码1</th>
                            <th class="table-title">正码2</th>
                            <th class="table-title">正码3</th>
                            <th class="table-title">正码4</th>
                            <th class="table-title">正码5</th>
                            <th class="table-title">正码6</th>
                            <th class="table-title">特码</th>
                            <th class="table-title">总数</th>
                            <th class="table-title">总数单双</th>
                            <th class="table-title">总数大小</th>
                            <th class="table-title">特码单双</th>
                            <th class="table-title">特码大小</th>
                            <th class="table-title">特码合大小</th>
                            <th class="table-title">特码合单双</th>
                            <th class="table-title">特码尾大小</th>
                            <th class="table-title">操作</th>
                        </tr>
                        </thead>
                        <tr>
                            <td><input id="qishu" style="width: 40px" name="qishu"></td>
                            <td><input id="createtime" style="width: 60px" name="createdate"></td>
                            <td><input id="z1" style="width: 40px" name="z1"></td>
                            <td><input id="z2" style="width: 40px" name="z2"></td>
                            <td><input id="z3" style="width: 40px" name="z3"></td>
                            <td><input id="z4" style="width: 40px" name="z4"></td>
                            <td><input id="z5" style="width: 40px" name="z5"></td>
                            <td><input id="z6" style="width: 40px" name="z6"></td>
                            <td><input id="tema" style="width: 40px" name="tema"></td>
                            <td><input id="sum" style="width: 40px" name="sum"></td>
                            <td><input id="sumds" style="width: 40px" name="sumds"></td>
                            <td><input id="sumdx" style="width: 40px" name="sumdx"></td>
                            <td><input id="temads" style="width: 40px" name="temads"></td>
                            <td><input id="temadx" style="width: 40px" name="temadx"></td>
                            <td><input id="temahedx" style="width: 40px" name="temahedx"></td>
                            <td><input id="temaheds" style="width: 40px" name="temaheds"></td>
                            <td><input id="temaweids" style="width: 40px" name="temaweids"></td>
                            <td>
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button onclick="calcu()"
                                                class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                class="am-icon-pencil-square-o"></span> 计算
                                        </button>
                                        <button onclick="addNumbers()"
                                                class="am-btn am-btn-default am-btn-xs am-text-secondary"><span
                                                class="am-icon-pencil-square-o"></span> 保存
                                        </button>
                                    </div>
                                </div>
                            </td>
                            <script type="text/javascript">
                                function addNumbers() {
                                    var qishu = document.getElementById("qishu")
                                    var z1 = document.getElementById("z1")
                                    var z2 = document.getElementById("z2")
                                    var z3 = document.getElementById("z3")
                                    var z4 = document.getElementById("z4")
                                    var z5 = document.getElementById("z5")
                                    var z6 = document.getElementById("z6")
                                    var tema = document.getElementById("tema")
                                    var sum = document.getElementById("sum")
                                    var sumdx = document.getElementById("sumdx")
                                    var sumds = document.getElementById("sumds")
                                    var temads = document.getElementById("temads")
                                    var temadx = document.getElementById("temadx")
                                    var temahedx = document.getElementById("temahedx")
                                    var temaheds = document.getElementById("temaheds")
                                    var temaweids = document.getElementById("temaweids")
                                    var createtime = document.getElementById("createtime")
                                    if (z1.value == "" || z1.value == null || z1.value == undefined ||
                                        z2.value == "" || z2.value == null || z2.value == undefined ||
                                        z3.value == "" || z3.value == null || z3.value == undefined ||
                                        z4.value == "" || z4.value == null || z4.value == undefined ||
                                        z5.value == "" || z5.value == null || z5.value == undefined ||
                                        z6.value == "" || z6.value == null || z6.value == undefined ||
                                        tema.value == "" || tema.value == null || tema.value == undefined) {
                                        alert("请输入七位正确数字！")
                                        return false;
                                    } else {
                                        var numlist = [z1.value, z2.value, z3.value, z4.value, z5.value, z6.value, tema.value]
                                        if (isRepeat(numlist) == false) {
                                            if (sumdx.value == "" || sumdx.value == null || sumdx.value == undefined ||
                                                sumds.value == "" || sumds.value == null || sumds.value == undefined ||
                                                sum.value == "" || sum.value == null || sum.value == undefined ||
                                                temads.value == "" || temads.value == null || temads.value == undefined ||
                                                temadx.value == "" || temadx.value == null || temadx.value == undefined ||
                                                temahedx.value == "" || temahedx.value == null || temahedx.value == undefined ||
                                                temaheds.value == "" || temaheds.value == null || temaheds.value == undefined ||
                                                temaweids.value == "" || temaweids.value == null || temaweids.value == undefined
                                            ) {
                                                alert("请计算结果！")
                                                return false;
                                            }
                                            if (createtime.value == "" || createtime.value == null || createtime.value == undefined ||
                                                qishu.value == "" || qishu.value == null || qishu.value == undefined) {
                                                alert("请输入期数和公布日期！")
                                                return false;
                                            }
                                            // 开始写入！
                                            var data = {
                                                qishu: qishu.value,
                                                createtime: createtime.value,
                                                z1: z1.value,
                                                z2: z2.value,
                                                z3: z3.value,
                                                z4: z4.value,
                                                z5: z5.value,
                                                z6: z6.value,
                                                tema: tema.value,
                                                sum: sum.value,
                                                sumdx: sumdx.value == "大" ? 1 : 0,
                                                sumds: sumds.value == "单" ? 1 : 0,
                                                temads: temads.value == "单" ? 1 : 0,
                                                temadx: temadx.value == "大" ? 1 : 0,
                                                temahedx: temahedx.value == "大" ? 1 : 0,
                                                temaheds: temaheds.value == "单" ? 1 : 0,
                                                temaweids: temaweids.value == "单" ? 1 : 0,
                                            }

                                            var xmlhttp;
                                            if (window.XMLHttpRequest) {
                                                //  IE7+, Firefox, Chrome, Opera, Safari 浏览器执行代码
                                                xmlhttp = new XMLHttpRequest();
                                            } else {
                                                // IE6, IE5 浏览器执行代码
                                                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                                            }
                                            xmlhttp.onreadystatechange = function () {
                                                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                                                    alert(xmlhttp.responseText);
                                                }
                                            }
                                            // xmlhttp.open("POST","/number/addnumber",true);
                                            // xmlhttp.send();
                                            $.ajax({
                                                url: "/number/addnumber",

                                                dataType: "json",
                                                type: "post",
                                                data: data,

                                                success: function (result) {
                                                    if(result.code == 1)
                                                    alert("添加成功！");
                                                },
                                                error: function (data) {
                                                    alert("请求出错");
                                                    alert(data);
                                                }
                                            });
                                        }
                                    }
                                }

                                function isRepeat(ary) {
                                    var s = ary.join(",") + ",";
                                    var nary = ary.sort();
                                    for (var i = 0; i < ary.length; i++) {
                                        if (nary[i] == nary[i + 1]) {
                                            alert("号码重复：" + nary[i]);
                                            return true;
                                        }
                                    }
                                    return false
                                }

                                function calcu() {

                                    var z1 = document.getElementById("z1")
                                    var z2 = document.getElementById("z2")
                                    var z3 = document.getElementById("z3")
                                    var z4 = document.getElementById("z4")
                                    var z5 = document.getElementById("z5")
                                    var z6 = document.getElementById("z6")
                                    var tema = document.getElementById("tema")
                                    var sum = document.getElementById("sum")
                                    var sumdx = document.getElementById("sumdx")
                                    var sumds = document.getElementById("sumds")
                                    var temads = document.getElementById("temads")
                                    var temadx = document.getElementById("temadx")
                                    var temahedx = document.getElementById("temahedx")
                                    var temaheds = document.getElementById("temaheds")
                                    var temaweids = document.getElementById("temaweids")


                                    if (z1.value == "" || z1.value == null || z1.value == undefined ||
                                        z2.value == "" || z2.value == null || z2.value == undefined ||
                                        z3.value == "" || z3.value == null || z3.value == undefined ||
                                        z4.value == "" || z4.value == null || z4.value == undefined ||
                                        z5.value == "" || z5.value == null || z5.value == undefined ||
                                        z6.value == "" || z6.value == null || z6.value == undefined ||
                                        tema.value == "" || tema.value == null || tema.value == undefined) {
                                        alert("请输入七位正确数字！")
                                        return false;
                                    } else {
                                        var numlist = [z1.value, z2.value, z3.value, z4.value, z5.value, z6.value, tema.value]
                                        if (isRepeat(numlist) == false) {
                                            // alert("正确！")
                                            var sum_num = parseInt(z1.value) + parseInt(z2.value) + parseInt(z3.value) +
                                                parseInt(z4.value) + parseInt(z5.value) + parseInt(z6.value) + parseInt(tema.value)
                                            sum.value = sum_num;
                                            if (sum_num % 2 == 1) {
                                                sumds.value = "单"
                                            } else {
                                                sumds.value = "双"
                                            }
                                            // 大于等于176 为大
                                            if (sum_num >= 176) {
                                                sumdx.value = "大"
                                            } else {
                                                sumdx.value = "小"
                                            }
                                            // 计算特码
                                            var tema_num = parseInt(tema.value)
                                            var tema_he_num = tema_num >= 10 ? parseInt(tema_num / 10) + tema_num % 10 : tema_num
                                            var tema_wei_num = tema_num >= 10 ? tema_num % 10 : tema_num

                                            console.log("tema_he_num" + tema_he_num)
                                            if (tema_num % 2 == 1) {
                                                temads.value = "单"
                                            } else {
                                                temads.value = "双"
                                            }
                                            if (tema_num >= 25) {
                                                temadx.value = "大"
                                            } else {
                                                temadx.value = "小"
                                            }
                                            // 计算特码合
                                            if (tema_he_num % 2 == 1) {
                                                temaheds.value = "单"
                                            } else {
                                                temaheds.value = "双"
                                            }
                                            if (tema_he_num >= 25) {
                                                temahedx.value = "大"
                                            } else {
                                                temahedx.value = "小"
                                            }
                                            // 特码尾
                                            if (tema_wei_num >= 5) {
                                                temaweids.value = "大"
                                            } else {
                                                temaweids.value = "小"
                                            }
                                        }
                                    }
                                }
                            </script>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            function showorhideaddform() {
                console.log("switch")
                var addform = document.getElementById("addform");
                if (addform.style.display == "none") {
                    addform.style.display = "";
                } else {
                    addform.style.display = "none";
                }
            }
        </script>
        <div class="am-g">
            <div class="am-u-sm-12">
                <div class="am-form">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                        <tr>
                            <th class="table-id">期数</th>
                            <th class="table-title">开奖日期</th>
                            <th class="table-title">正码1</th>
                            <th class="table-title">正码2</th>
                            <th class="table-title">正码3</th>
                            <th class="table-title">正码4</th>
                            <th class="table-title">正码5</th>
                            <th class="table-title">正码6</th>
                            <th class="table-title">特码</th>
                            <th class="table-title">总数</th>
                            <th class="table-title">总数单双</th>
                            <th class="table-title">总数大小</th>
                            <th class="table-title">特码单双</th>
                            <th class="table-title">特码大小</th>
                            <th class="table-title">特码合大小</th>
                            <th class="table-title">特码合单双</th>
                            <th class="table-title">特码尾大小</th>
                            <th class="table-title">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php
                                foreach ($info as $item ) {
                                    echo "<tr>";
                        echo "
                        <td>";
                            echo $item["qishu"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["createtime"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["n1"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["n2"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["n3"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["n4"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["n5"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["n6"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["tema"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["sum"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["sumds"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["sumdx"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["sumdx"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["sumdx"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["sumdx"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["sumdx"];
                            echo "
                        </td>
                        ";
                        echo "
                        <td>";
                            echo $item["sumdx"];
                            echo "
                        </td>
                        ";
                        echo "<td><button onclick='del(".$item["qishu"].")' class='am-btn am-btn-default am-btn-xs am-text-danger'> 删除</button> </td> ";

                        echo "</tr>";

                        }


                        ?>
                        </tbody>
                    </table>
                    <div class="am-cf">
                        共 <?php echo $total; ?> 条记录
                       
                    </div>
                    <hr/>
                    <p>注：请及时上传数据！</p>
                    <script type="text/javascript">
                        function del(qishu) {
                            console.log(qishu)
                            $.ajax({
                                url: "/number/delnumber",

                                dataType: "json",
                                type: "post",
                                data: {qishu:qishu},

                                success: function (result) {  //这里就是我出错的地方
                                    if(result.code ==1) {
                                        alert("删除成功！")
                                        window.location.href= "/kaihistoryadmin"
                                    }
                                },
                                error: function (data) {
                                    alert("请求出错");
                                    alert(data);
                                }
                            });
                        }
                        function goprevpage() {

                        }

                        function gonextpage() {

                        }
                    </script>
                </div>
            </div>

        </div>
    </div>
    <!-- content end -->
</div>

<footer>
    <hr>
    <p class="am-padding-left">© 2020 Nomansky public</p>
</footer>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/polyfill/rem.min.js"></script>
<script src="assets/js/polyfill/respond.min.js"></script>
<script src="assets/js/amazeui.legacy.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/amazeui.min.js"></script>
<!--<![endif]-->
<script src="assets/js/app.js"></script>
</body>
</html>
